    <div class="container-fluid text-center credits">
        <p class="wht">Made by: Sahil</p>
        <p class="wht"><a href="https://github.com/SahilTyagii" class="link">GitHub</a></p>
        <!-- <p class="wht"><a href="https://www.linkedin.com/in/sahil-tyagi-b4a02325a/" class="link">LinkedIn</a></p> -->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>