<%- include("partials/header.ejs") %>

<div id="top" class="container-fluid text-center">
    <div class="logo">
        <img class="icon img-fluid" src="images/Uchiha-removebg.png" alt="logo" width="200">
        <img class="name img-fluid" src="images/AniFind-removebg-preview.png" alt="title" width="350">
        <img class="slogan img-fluid" src="images/FYA-removebg-preview.png" alt="slogan" width="500">
    </div>
    <div class="upload d-flex justify-content-center">
        <form id="uploadForm" class="text-center" method="post" enctype="multipart/form-data">
            <div class="input-group mb-3">
                <input class="form-control" type="text" name="imageURL" id="imageURLUpload" placeholder="Enter image URL">
                <button class="btn btn-outline-secondary" type="submit" id="imageURLUploadBTN" formaction="/postURL">Search</button>
            </div>
            <div class="input-group mb-3">
                <input type="file" class="form-control" id="imageUpload" name="image" aria-describedby="imageUploadAddon" aria-label="Upload">
                <button class="btn btn-outline-secondary" type="submit" id="imageUploadAddon" formaction="/uploadImage">Upload</button>
            </div>
        </form>
    </div>
</div>

<div id="result" class="container-fluid text-center mt-5"></div>



<%- include("partials/footer.ejs") %>