#top {
  background-color: #1a1a1a;
}
.logo {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem 0 4rem 0;
}
.name {
  margin: 1rem;
}
body {
  background-color: #1a1a1a;
}

.navbar-brand img {
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.nav-item form {
  display: flex;
  align-items: center;
}

#found {
  margin-top: 120px;
}

.navbar-logo {
  max-width: 200px;
  height: auto;
}

.nav-item.me-3 {
  margin-right: 1rem !important;
}

.wht {
  color: #cccccc;
}
h1 {
  font-size: 3rem;
}
.engTitle {
}
.nativeTitle {
}

.romajiTitle {
  font-size: 2.5rem;
}

#coverImage {
  /* margin-top: 1rem; */
}

.shortDetes {
  font-size: 1rem;
}
.detes {
  padding-top: 2rem;
}

.credits {
  background-color: #1a1a1a;
  padding: 20px 0;
}

.credits p {
  margin: 5px;
  font-size: 18px;
}

.credits .link {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s;
}

.credits .link:hover {
  color: #ffd700; /* Change the color on hover to gold */
}
